<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Image to Text Converter</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="static/style.css">


</head>

<body>
	<h1>Image to Text Converter</h1>
	<div class="content">
	<video id="video" width="240" height="320" autoplay></video>
	<button id="snap">convert</button>
	<canvas id="canvas" width="640" height="480"></canvas>
	<input type="text" id="input1" >
	<canvas id="op" width="640" height="480"></canvas>
</div>
	
</body>

<script src="static/script.js"></script>

</html>
